# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vim temporary swap files
*.swp

# My Ignorances

*.dll
obj
bin
.resxpress/*

# React ignorance

# Node modules
**/node_modules/

# Build output
**/dist/
**/build/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# IDE/editor settings
.vscode/
.DS_Store

# dotenv files
**/.env*

Client/node_modules/
Client/build/
Client/dist/

.prettierrc
